{% extends 'admin_base.html.twig' %}

{% block title %}Správa rezervací | Vstupenky{% endblock %}

{% block body %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Rezervace #{{ reservation.id }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ url('admin') }}">Admin</a></li>
                        <li class="breadcrumb-item"><a href="{{ url('pokladni_reservation_list') }}">Správa
                                rezervací</a></li>
                        <li class="breadcrumb-item active">Rezervace #{{ reservation.id }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <a href="{{ url('pokladni_reservation_remove', {'id': reservation.id}) }}"
                               class="btn btn-danger"
                               onclick="return confirm('Opravdu si přejete smazat rezervaci?')"
                            ><i class="fa fa-trash-alt"></i> Smazat rezervaci</a>
                            &nbsp;
                            {% if reservation.paid %}
                                <a href="{{ url('admin_tickets', {'id': reservation.id}) }}" class="btn btn-default">
                                    <i class="fa fa-ticket-alt"></i>
                                    Vstupenky
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card JS-reservation-edit">
                        {{ form_start(form) }}
                        <div class="card-header">
                            <h3 class="card-title">
                                Upravit rezervaci
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="reservation_performance">Představení</label>
                                <input type="text" disabled readonly class="form-control" value="{{ reservation.tickets[0].performance.name }}">
                            </div>
                            <div class="form-group">
                                <label for="reservation_performance">Sál</label>
                                <input type="text" disabled readonly class="form-control" value="{{ reservation.tickets[0].performance.hall.name }}">
                            </div>
                            <div class="form-group">
                                <label for="reservation_performance">Cena</label>
                                <input type="text" disabled readonly class="form-control" value="{{ reservation.price | number_format(2, ',', ' ') }} Kč">
                            </div>
                            {{ form_row(form.user) }}
                            <div class="JS-no-user" style="display: none;">
                                {{ form_row(form.name) }}
                                {{ form_row(form.surname) }}
                                {{ form_row(form.email) }}
                            </div>
                            {{ form_row(form.paid) }}
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success float-right">Upravit rezervaci</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Sedadla</h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                {% for ticket in reservation.tickets %}
                                    <li class="list-group-item">
                                        <a href="{{ url('pokladni_ticket_remove', {'id': ticket.id}) }}" class="remove"
                                           onclick="return confirm('Opravdu si přejete odstranit sedadlo {{ ticket.seat }} z rezervace?')">
                                            <i class="fa fa-times"></i>
                                        </a>&nbsp;
                                        {{ ticket.seat }}
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        {{ ticket.price | number_format(2, ',', ' ') }} Kč
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#exampleModal">
                                Přidat sedadla
                            </button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Plánek sálu ({{ reservation.tickets[0].performance.hall.name }})</h3>
                        </div>
                        <div class="card-body">
                            <div id="hallStatic" class="hall hall-static hall-center"></div>

                            <script>
                                $(function () {
                                    var seats = {{ seatsJson | raw }};
                                    var orderedSeats = {{ reservationSeatsJson | raw }};
                                    var price = {{ performance.price }};
                                    renderHall(seats, orderedSeats, $("#hallStatic"), {{ hallJson | raw }}, price, true);
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Přidat sedadla</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="hall" class="hall hall-center"></div>

                    <script>
                        $(function () {
                            var seats = {{ seatsJson | raw }};
                            var orderedSeats = {{ orderedSeatsJson | raw }};
                            var price = {{ performance.price }};
                            renderHall(seats, orderedSeats, $("#hall"), {{ hallJson | raw }}, price);
                        });
                    </script>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                    {{ form_start(seatsForm) }}
                    {{ form_widget(seatsForm) }}
                    <button class="btn btn-success">Přidat sedadla</button>
                    {{ form_end(seatsForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
