{% extends 'admin_base.html.twig' %}

{% block title %}Správa rezervací | Vstupenky{% endblock %}

{% block body %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Správa rezervací</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ url('admin') }}">Admin</a></li>
                        <li class="breadcrumb-item active">Správa rezervací</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            {#<a href="{{ url('redaktor_hall_add') }}" class="btn btn-success"><i class="fa fa-plus"></i> Přidat sál</a>#}
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Všechny rezervace</h3>
                        </div>
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Představení</td>
                                    <td>Vytvořeno</td>
                                    <td>Zákazník</td>
                                    <td>Počet míst</td>
                                    <td>Cena</td>
                                    <td>Zaplaceno</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for reservation in reservations %}
                                    <tr onclick="window.location='{{ url("pokladni_reservation_edit", {"id": reservation.id}) }}';">
                                        <td>{{ reservation.id }}</td>
                                        <td>{{ reservation.tickets[0].performance.name }}</td>
                                        <td>{{ reservation.createdAt | date('j.n.Y H.i') }}</td>
                                        <td>
                                            {% if reservation.user %}
                                                {{ reservation.user.name }}
                                                {{ reservation.user.surname }}
                                                ({{ reservation.user.email }})
                                            {% else %}
                                                {{ reservation.name }}
                                                {{ reservation.surname }}
                                                ({{ reservation.email }})
                                            {% endif %}
                                        </td>
                                        <td>{{ reservation.tickets | length }}</td>
                                        <td>{{ reservation.price | number_format(0, ',', ' ') }} Kč</td>
                                        <td>
                                            {% if reservation.paid %}
                                                <i class="fas fa-check"></i>
                                            {% else %}
                                                <i class="fas fa-times"></i>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block stylesheets %}
    <style>
        section table tbody tr {
            cursor: pointer;
        }
    </style>
{% endblock %}