{% extends 'admin_base.html.twig' %}

{% block title %}Správa uživatelů | Vstupenky{% endblock %}

{% block body %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Správa uživatelů</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ url('admin') }}">Admin</a></li>
                        <li class="breadcrumb-item active">Správa uživatelů</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <a href="{{ url('administrator_add_user') }}" class="btn btn-success"><i class="fa fa-plus"></i> Přidat uživatele</a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Všichni uživatelé</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Jméno</th>
                                    <th>Příjmení</th>
                                    <th>Email</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr onclick="window.location='{{ url("administrator_manage_user", {"id": user.id}) }}';">
                                        <td>{{ user.id }}</td>
                                        <td>{{ user.name }}</td>
                                        <td>{{ user.surname }}</td>
                                        <td>{{ user.email }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block stylesheets %}
<style>
    section table tbody tr {
        cursor: pointer;
    }
</style>
{% endblock %}