{% extends 'admin_base.html.twig' %}

{% block title %}Přidat uživatele | Správa uživatelů | Vstupenky{% endblock %}

{% block body %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Přidat uživatele</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ url('admin') }}">Admin</a></li>
                        <li class="breadcrumb-item"><a href="{{ url('administrator_manage_users') }}">Správa uživatelů</a></li>
                        <li class="breadcrumb-item active">Přidat uživatele</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content JS-registration-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        {{ form_start(form) }}
                        <div class="card-header">
                            <h3 class="card-title">Nový uživatel</h3>
                        </div>
                        <div class="card-body">
                            {{ form_row(form.name) }}
                            {{ form_row(form.surname) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.plainPassword) }}
                            {{ form_row(form.role) }}
                            <div id="halls" style="display: none;">
                                {{ form_row(form.halls) }}
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success float-right">Přidat uživatele</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
