{% extends 'admin_base.html.twig' %}

{% block title %}{{ hall.name }} | Správa sálů | Vstupenky{% endblock %}

{% block body %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>{{ hall.name }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ url('admin') }}">Admin</a></li>
                        <li class="breadcrumb-item"><a href="{{ url('redaktor_hall_list') }}">Správa sálů</a></li>
                        <li class="breadcrumb-item active">{{ hall.name }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <a href="{{ url('redaktor_hall_remove', {'id': hall.id}) }}"
                                class="btn btn-danger"
                               onclick="return confirm('Opravdu si přejete smazat sál {{ hall.name }}?')"
                            ><i class="fa fa-trash-alt"></i> Smazat sál</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        {{ form_start(form) }}
                        <div class="card-header">
                            <h3 class="card-title">Údaje o sále</h3>
                        </div>
                        <div class="card-body">
                            {{ form_widget(form) }}
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success float-right">Upravit sál</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Představení v tomto sále</h3>
                        </div>
                        <div class="card-body">
                            {% if hall.performances | length < 1 %}
                                <p>V tomto sále nejsou žádná představení.</p>
                            {% else %}
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Název inscenace</th>
                                        <th>Datum</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for performance in hall.performances %}
                                        <tr onclick="window.location='{{ url("redaktor_performance_edit", {"id": performance.id}) }}';">
                                            <td>{{ performance.id }}</td>
                                            <td>{{ performance.play.name }}</td>
                                            <td>{{ performance.time | date('j. n. Y H.i') }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

